<footer class="py-5 text-bg-dark">
  <div class="container">
    <div class="row justify-content-between align-baseline">
      <div class="col-md-2">
        <h2 class="h3 fw-bolder text-custom">هابي داي</h2>
        <div class="d-flex justify-content-between">
          <i class="fa-brands fs-5 fa-facebook"></i>
          <i class="fa-brands fs-5 fa-instagram"></i>
          <i class="fa-brands fs-5 fa-twitter"></i>
          <i class="fa-brands fs-5 fa-linkedin"></i>
          <i class="fa-brands fs-5 fa-youtube"></i>
        </div>
      </div>
      <div class="col-md-3">
        <h2 class="h3 fw-bolder">About Us</h2>
        <ul class="list-unstyled">
          <li class="py-2">
            <a href="">About</a>
          </li>
          <li class="py-2">
            <a href="">Terms of Services</a>
          </li>
          <li class="py-2">
            <a href="">Contact Us</a>
          </li>
          <li class="py-2">
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2 class="h3 fw-bolder">Main Menue</h2>
        <ul class="list-unstyled">
          <li class="py-2">
            <a href="">Home</a>
          </li>
          <li class="py-2">
            <a href="">About</a>
          </li>
          <li class="py-2">
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

