<section class="py-5">
  <div class="container">
    <div class="text-center">
      <h3 class="main-color h1 fw-bolder">Contact Us</h3>
    </div>
    <form (ngSubmit)="handleContact()" [formGroup]="contactForm" class="w-75 mx-auto py-5">
      <div class="form-group mb-4">
        <label for="name" class="mb-2">Your Name :</label>
        <input formControlName="name" type="text" id="name" class="form-control border border-2 border-black">
        <div *ngIf="contactForm.get('name')?.errors && contactForm.get('name')?.touched">
          <p class="text-danger fw-bold">This Faild is Required</p>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="email" class="mb-2">E-mail :</label>
        <input formControlName="email" type="email" id="email" class="form-control border border-2 border-black">
        <div *ngIf="contactForm.get('email')?.errors && contactForm.get('email')?.touched">
          <p class="text-danger fw-bold">This Faild is Required</p>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="sub" class="mb-2">Subject :</label>
        <input formControlName="subject" type="text" id="sub" class="form-control border border-2 border-black">
        <div *ngIf="contactForm.get('subject')?.errors && contactForm.get('subject')?.touched">
          <p class="text-danger fw-bold">This Faild is Required</p>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="mes" class="mb-2">Message :</label>
        <textarea formControlName="message" rows="10" id="mes"
          class="form-control border border-2 border-black"></textarea>
        <div *ngIf="contactForm.get('message')?.errors && contactForm.get('message')?.touched">
          <p class="text-danger fw-bold">This Faild is Required</p>
        </div>
      </div>
      <button [disabled]="contactForm.invalid" class="btn btn-outline-dark fs-5 fw-bolder">Send Message</button>
    </form>
  </div>
</section>
