<section style="background-image: url(assets/images/No-Graduation-Party.jpg);" class="hero">
    <div class="container h-100 flex-column d-flex justify-content-center align-items-center">
      <h1 class="text-custom fw-bolder ">احجز حفل تخرجك الان</h1>
    </div>
</section>
<section>
  <div class="container present">
    <div class="head text-center ">
      <h2 class="h1 fw-bolder fs-1 text-custom">ماذا نقدم !؟</h2>
      <p class="lead">ابنِ لحظات التخرج الاستثنائية مع خدماتنا المتميزة</p>
    </div>
    <div  class="row pt-5 justify-content-between">
      <div class="col-md-5">
        <div>
          <ol>
            <li class="h3 py-2">
              <div>
                <h3>بحث ومقارنة الشركات</h3>
                <p class="fs-5 lead">
                  يتيح الموقع للمستخدمين استعراض ومقارنة متعددة لشركات تنظيم الحفلات، مما يساعدهم في اتخاذ قرار مستنير بناءً على تقييمات
                  العملاء والخدمات المقدمة.
                </p>
              </div>
            </li>
            <li class="h3 py-2">
              <div>
                <h3> عروض متنوعة</h3>
                <p class="fs-5 lead">يقدم الموقع مجموعة واسعة من العروض المختلفة المقدمة من شركات تنظيم الحفلات، مما يتيح للعملاء اختيار الحزمة التي تلبي
                احتياجاتهم وميزانيتهم.
                </p>
              </div>
            </li>
            <li class="h3 py-2">
              <div>
                <h3> نظام حجز متقدم </h3>
                <p class="fs-5 lead">
                  يتيح الموقع للزبائن حجز حفلات التخرج بسهولة عبر نظام حجز متقدم، حيث يمكنهم اختيار توقيت الحفل والقاعة المناسبة ومتابعة
                  حالة الحجز بكل يسر.
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <ol start="4">
            <li class="h3 py-2">
              <div>
                <h3>ملفات تعريف للشركات</h3>
                <p class="fs-5 lead">
                  يقدم الموقع معلومات شاملة حول شركات تنظيم الحفلات، بما في ذلك معلومات الاتصال والخدمات المقدمة، وذلك لتسهيل عملية اختيار
                  الشركة المناسبة.
                </p>
              </div>
            </li>
            <li class="h3 py-2">
              <div>
                <h3> دعم العملاء </h3>
                <p class="fs-5 lead">
                  يوفر الموقع نظامًا فعّالًا لدعم العملاء، حيث يمكن للعملاء طرح أسئلتهم وحل مشاكلهم بسرعة وكفاءة.
                </p>
              </div>
            </li>
            <li class="h3 py-2">
              <div>
                <h3> تقييمات وتعليقات </h3>
                <p class="fs-5 lead">
                  يتيح للعملاء تقديم تقييمات حية وتعليقات حول تجاربهم، مما يساعد المستخدمين الآخرين في اتخاذ قرارات مستنيرة.
                </p>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container present">
    <div class="head text-center">
      <h2 class="h1 fw-bolder fs-1 text-custom"> اكتشف أحدث الاتجاهات ونصائح تنظيم الحفلات</h2>
    </div>
    <div class="row pt-5">
      <div class="col-md-4 pt-3 text-center">
        <div class="mb-3">
          <img src="assets/images/blog1.jpg" class="w-100 rounded-3" alt="">
        </div>
        <h4> كيف تختار شركة تنظيم الحفلات المثلى؟</h4>
        <p class="lead">
          في هذا المقال، سنقدم لك نصائح حول اختيار أفضل شركة تنظيم حفلات تخرج تلبي توقعاتك وتجعل لحظات التخرج لا تُنسى.
        </p>
      </div>
      <div class="col-md-4 pt-3 text-center">
        <div class="mb-3">
          <img src="assets/images/blog2.jpg" class="w-100 rounded-3" alt="">
        </div>
        <h4> تصميم الحفل: أفكار إبداعية لتجعل ليلة التخرج فريدة من نوعها</h4>
        <p class="lead">
          اكتشف أحدث اتجاهات تصميم الحفلات وكيف يمكنك إضافة لمسات إبداعية للحفل الخاص بك.
        </p>
      </div>
      <div class="col-md-4 pt-3 text-center">
        <div class="mb-3">
          <img src="assets/images/blog3.jpeg" class="w-100 rounded-3" alt="">
        </div>
        <h4> أفضل العروض لحفلات التخرج</h4>
        <p class="lead">
          نستعرض بعض العروض المميزة والتشكيلات التي يمكن أن تجعل حفل التخرج لحظة فريدة تستحق الاحتفال.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container present">
    <div class="head text-center">
      <h2 class="h1 fs-1 fw-bolder text-custom">
        كيفية حجز حفلة تخرج
      </h2>
    </div>
    <div class="accordion pt-5 w-75 mx-auto" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <h4 class="h6 mb-0 fw-bolder">1. استعراض العروض والشركات</h4>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            قم بزيارة صفحتنا الرئيسية واطلع على مجموعة العروض المتاحة من شركات تنظيم الحفلات. استخدم أدوات المقارنة لاختيار الشركة
            التي تناسب ذوقك وميزانيتك.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <h4 class="h6 mb-0 fw-bolder">2. تحديد متطلبات حفلتك</h4>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            احدد توقيت الحفل، العدد المتوقع للضيوف، والموقع المفضل. هل تفضل حفلة داخلية أم خارجية؟ اجعل تفاصيل حفلتك واضحة للحصول
            على أفضل اقتراحات.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
            <h4 class="h6 mb-0 fw-bolder">3. تواصل مع الشركة المختارة</h4>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            بمجرد اختيارك للشركة المناسبة، اتصل بهم لتحديد تفاصيل أكثر. استفسر عن توفر التواريخ المطلوبة والخدمات الإضافية التي يمكن
            أن تثري تجربة الحفل.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
